//! **************************************************************************
// Written by: Map L.33 on Fri Oct 07 11:15:55 2011
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "an<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "an<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "an<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "count_sseg<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "count_sseg<1>" LOCATE = SITE "F13" LEVEL 1;
COMP "count_sseg<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "count_sseg<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "count_sseg<4>" LOCATE = SITE "N15" LEVEL 1;
COMP "count_sseg<5>" LOCATE = SITE "G13" LEVEL 1;
COMP "count_sseg<6>" LOCATE = SITE "E14" LEVEL 1;
COMP "count_sseg<7>" LOCATE = SITE "K12" LEVEL 1;
COMP "reset" LOCATE = SITE "L14" LEVEL 1;
COMP "a" LOCATE = SITE "M13" LEVEL 1;
COMP "b" LOCATE = SITE "M14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

